<%= form_for [:customers, @order], local: true, multipart: true do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand_id, 'Type of Brand:' %>
    <%= select_tag(:brand_id, option_groups_from_collection_for_select(Category.order(:name), :brands, :name, :id, :name), include_blank: 'Select Order Brand') %>
  </div>

  <div class="field">
    <%= form.label :product_ids, 'Order Product:' %>
    <%= select_tag(:product_ids, option_groups_from_collection_for_select(Brand.order(:name), :products, :name, :id, :name), include_blank: 'Select Order Product') %>
  </div>

  <div class="field">
    <%= form.label :amount, 'Order Amount:' %>
    <%= number_field_tag :amount %>
  </div>

  <div class="field">
    <%= form.label :description, 'Order Description:' %>
    <%= text_field_tag :description %>
  </div>

  <div class="field">
    <% @order.images.each do |image| %>
      <%= hidden_field :order, :images, multiple: true, value: image.identifier %>
    <% end %>
    <%= form.label :images, 'Order Photos:' %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
