<%= form_for(:order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'Order Category:' %>
    <%= select_tag 'categories', options_for_select(@categories_array) %>
  </div>

  <div class="field">
    <%= label_tag 'Order Brand:' %>
    <%= select_tag 'brands', options_for_select(@brands_array) %>
  </div>

  <div class="field">
    <%= label_tag 'Order Product:' %>
    <%= select_tag 'products', options_for_select(@products_array.uniq) %>
  </div>

  <div class="field">
    <%= label_tag 'Order Amount:' %>
    <%= text_field_tag '' %>
  </div>

  <div class="field">
    <%= label_tag 'Order Description:' %>
    <%= text_field_tag '' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
