<% unless notice.nil? %>
  <div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Notice</h3>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Orders</h1>

<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Time Left (Hours)</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <% order.order_products.each do |order_details| %>
        <td><%= order_details.amount %></td>
        <td><%= order_details.description %></td>
        <td><%= convert_seconds(order_details.processing_time) %></td>

      <% end %>
      <td><%= link_to image_tag('common/view.png', size: '20x20'), customers_order_path(order), "uk-tooltip":"title: Show Details; delay: 500" %></td>
      <td><%= link_to image_tag('common/edit.png', size: '20x20'), edit_customers_order_path(order), "uk-tooltip":"title: Edit Details; delay: 500" %></td>
<!--      Only be able to delete Orders still in progress. A fee is charged to cancel the order if it has made it past the editing or studio taken phase-->
<!--      <td><%#= link_to image_tag('common/delete.png', size: '20x20'), customers_order_path(order), method: :delete, data: { confirm: 'Are you sure?', "uk-tooltip":"title: Delete Order; delay: 500" } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>
<%= pagination_links(@brands) %>
<%= link_to "#{image_tag('common/add.png', size: '25x25')}".html_safe, new_customers_order_path, class: 'uk-link-heading', "uk-tooltip":"title: New Order; delay: 300" %>