<% unless notice.nil? %>
  <div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Notice</h3>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<dl class="uk-description-list uk-description-list-divider">
  <dt>Order Category Brand:</dt>
  <dd><%= @brand_details.name %> <%= @category_details.name %></dd>
  <dt>Order Product:</dt>
  <dd><%= @product_details.name %></dd>
  <dt>Order Amount:</dt>
  <dd><% @order_details.each { |order_detail| %> <%= order_detail.amount %> <% } %></dd>
  <dt>Order Description:</dt>
  <dd><% @order_details.each { |order_detail| %> <%= order_detail.description %> <% } %></dd>
  <dt>Time to Process Order:</dt>
  <dd><% @order_details.each { |order_detail| %> <%= calculate_time_left(order_detail.processing_time, order_detail.created_at) %> <% } %></dd>
  <dt>Order Image(s):</dt>
  <dd><% @order.images.each { |order_image| %> <%= image_tag(order_image.thumb.url) %> <% } %></dd>
</dl>

<%= link_to image_tag('common/edit.png', size: '25x25'), edit_customers_order_path(@order), "uk-tooltip":"title: Edit Details; delay: 500" %> |
<%= link_to image_tag('common/back-arrow.png', size: '25x25'), customers_orders_path, "uk-tooltip":"title: Back; delay: 500" %>