<!DOCTYPE html>
<html>
  <head>
    <title>Fotomwa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--    CSS-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://cdn.jsdelivr.net/npm/uikit@3/dist/css/uikit.min.css' %>

<!--    JS-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://cdn.jsdelivr.net/npm/smoothscroll-for-websites@1/SmoothScroll.min.js' %>
<!--    UIKit Template-->
    <%= javascript_include_tag 'application', 'https://cdn.jsdelivr.net/npm/uikit@3/dist/js/uikit.min.js' %>
<!--    Highcharts-->
    <%= javascript_include_tag 'application', 'https://code.highcharts.com/highcharts.js' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag asset_path('frontend/camera.png') %>
  </head>
  <body>
  <div style="display: none">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="uk-section-primary uk-light uk-preserve-color uk-hidden@m" data-uk-sticky>
      <nav class="uk-navbar" data-uk-navbar style="background: linear-gradient(90deg, rgba(255,159,0,1) 0%, rgba(241,120,0,1) 35%);">
        <div class="uk-navbar-left">
          <a class="uk-navbar-toggle" data-uk-navbar-toggle-icon data-uk-toggle href="#offcanvas"></a>
        </div>
        <div class="uk-navbar-center">
          <a class="uk-navbar-item uk-logo" href="#" style="color: #E30613"><span class="uk-margin-small-right" ></span>Fotomwa</a>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <% if user_signed_in? %>
                <a href="<%=destroy_user_session_path%>" data-method="delete">
                  <%= image_tag('users/dashboard/sign_out.png', size: "30x30", alt: "Sign Out") %>
                </a>
              <% else %>
                <a href="<%=new_user_session_path%>">
                  <%= image_tag('users/dashboard/sign_in.png', size: "30x30", alt: "Sign In") %>
                </a>
              <% end %>
              <a href="#">
                <%= image_tag('users/dashboard/user.png', size: "30x30", class: "uk-border-circle uk-margin-small-right", alt: "Joe or Jane Doe") %>
              </a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#"><span class="uk-margin-small-right"></span>Profile</a></li>
                  <li><a href="#"><span class="uk-margin-small-right"></span>Settings</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#"><span class="uk-margin-small-right"></span>Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <header class="uk-section-primary uk-navbar-container uk-navbar-transparent uk-light uk-preserve-color uk-visible@m" data-uk-sticky style="background: linear-gradient(90deg, rgba(255,159,0,1) 0%, rgba(241,120,0,1) 35%);">
      <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" data-uk-navbar>
          <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#" style="color: #E30613"><span style="padding: 7.5px"><%= image_tag('frontend/camera.png', size: "30x30") %></span>Fotomwa</a>
          </div>
          <div class="uk-navbar-right">
            <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
              <div>
                <ul class="uk-navbar-nav uk-grid uk-grid-collapse">
                  <li>
                    <div class="uk-navbar-right">
                      <div>
                        <a class="uk-navbar-toggle" href="#"><%= image_tag('users/dashboard/search_icon.png', size: "25x25") %></a>
                        <div class="uk-drop" uk-drop = "mode: click; pos: left-center; offset:0">
                          <form class="uk-search uk-search-navbar uk-width-1-1">
                            <label>
                              <input class="uk-search-input" type="search" placeholder="Search..." autofocus style="color: #111111;">
                            </label>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="uk-navbar-item" href="#"><span><%= image_tag('users/dashboard/mail.png', size: "25x25") %></span></a>
                  </li>
                  <li>
                    <a class="uk-navbar-item" href="#"><span><%= image_tag('users/dashboard/notification.png', size: "25x25") %></span></a>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="uk-navbar-nav">
                  <li>
                    <a class="uk-navbar-item" href="#">
                      <div style="color: #111111">
                        <%= image_tag('users/dashboard/user.png', size: "30x30", class: "uk-border-circle uk-margin-small-right", alt: "Joe or Jane Doe") %>
                        <span class="uk-text-middle">User Name</span>
                      </div>
                    </a>
                    <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#"><span></span>Profile</a></li>
                        <li><a href="#"><span></span>Settings</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#"><span></span>Logout</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="uk-grid-collapse uk-grid-item-match" data-uk-grid>
      <aside class="uk-width-medium uk-position-relative uk-position-z-index uk-visible@m">
        <div class="uk-section-secondary uk-width-medium uk-height-small uk-position-fixed uk-overflow-auto" data-uk-height-viewport="offset-bottom: false">
          <%= @all_content %>
          <hr class="uk-hr uk-margin-remove">
          <div class="uk-tile uk-tile-xsmall">
            <p>Bottom of the Navigation. Remember to put the social Plug Ins.</p>
          </div>
        </div>
      </aside>

      <!--    Content-->
      <%= yield %>
    </div>

    <div id="offcanvas" data-uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <%= @all_content %>
      </div>
    </div>
  </body>
</html>
