<%#= form_for @user, url: admin_profile_path(@user), local: true, html: { class: 'uk-form-stacked' } do |form| %>
<%= form_with(model: @user, url: admin_profile_path(@user), local: true, html: { class: 'uk-form-stacked' }) do |form| %>
  <fieldset class="uk-fieldset" style="margin-bottom: 10px">
    <% if @user.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :first_name, 'First Name:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.text_field :first_name, class: 'uk-input', placeholder: 'First Name...' %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :last_name, 'Last Name:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.text_field :last_name, class: 'uk-input', placeholder: 'Last Name...' %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :email, 'User Email:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.text_field :email, class: 'uk-input', placeholder: 'User Email...' %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :phone, 'User Phone:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.text_field :phone, class: 'uk-input', placeholder: 'User Phone...' %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :password, 'User Password:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.password_field :password, class: 'uk-input', placeholder: 'User Password...' %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :password_confirmation, 'Password Confirmation:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.password_field :password_confirmation, class: 'uk-input', placeholder: 'Password Confirmation...' %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'uk-button uk-button-default' %>
    </div>

  </fieldset>
<% end %>