<% unless notice.nil? %>
  <div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Notice</h3>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<!--<div class="user-profile">-->
  <%#= image_tag('users/dashboard/user.png', class: "avatar") %>
<!--  <div class="username">User Name</div>-->
<!--  <div class="bio">-->
    <%#= @user.user_role %>
<!--  </div>-->
<!--</div>-->

<!--Test User Profile-->
<section class="profile">
  <header class="header">
    <div class="details">
      <%= image_tag('users/dashboard/user.png', class: "profile-pic") %>
      <h1 class="user_name">User Name</h1>
      <div class="stats">
        <div class="col-4">
          <h4><%= @user.phone %></h4>
          <p>Phone Number</p>
        </div>
        <div class="col-4">
          <h4><%= @user.email %></h4>
          <p>User Email</p>
        </div>
        <div class="col-4">
          <h4><%= @user.user_role %></h4>
          <p>User Type</p>
        </div>
      </div>
    </div>
  </header>
</section>

<!--<dl class="uk-description-list uk-description-list-divider">-->
<!--  <dt>User Email:</dt>-->
<!--  <dd><%#= @user.email %></dd>-->
<!--  <dt>Phone Number:</dt>-->
<!--  <dd><%#= @user.phone %></dd>-->
<!--  <dt>User Type:</dt>-->
<!--  <dd><%#= @user.user_role %></dd>-->
<!--</dl>-->

<%= link_to image_tag('common/edit.png', size: '25x25'), edit_admin_profile_path(@user), "uk-tooltip":"title: Edit Admin Profile; delay: 500" %> |
<%= link_to image_tag('common/back-arrow.png', size: '25x25'), admin_path, "uk-tooltip":"title: Dashboard; delay: 500" %>
