<% unless notice.nil? %>
  <div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Notice</h3>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<!--Test User Profile-->
<section class="profile">
  <header class="header">
    <div class="details">
      <%= image_tag('users/dashboard/user.png', class: "profile-pic") %>
      <h1 class="user_name"><%= @user.first_name + " " + @user.last_name %></h1>
      <div class="stats">
        <div class="col-4">
          <h4><%=  %>25</h4>
          <p>Total Orders</p>
        </div>
        <div class="col-4">
          <h4><%= @user.user_role %></h4>
          <p>User Type</p>
        </div>
      </div>

    </div>
    <dl class="uk-description-list uk-description-list-divider">
      <dt>User Email:</dt>
      <dd><%= @user.email %></dd>
      <dt>Phone Number:</dt>
      <dd><%= @user.phone %></dd>
    </dl>
  </header>
</section>

<% if current_user.user_role.eql?('Customer') %>
  <%= link_to image_tag('common/edit.png', size: '25x25'), edit_customers_profile_path(@user), "uk-tooltip":"title: Edit Customer Profile; delay: 500" %> |
  <%= link_to image_tag('common/back-arrow.png', size: '25x25'), customers_path, "uk-tooltip":"title: Dashboard; delay: 500" %>
<% elsif current_user.user_role.eql?('Administrator') %>
  <%= link_to image_tag('common/edit.png', size: '25x25'), edit_admin_profile_path(@user), "uk-tooltip":"title: Edit Admin Profile; delay: 500" %> |
  <%= link_to image_tag('common/back-arrow.png', size: '25x25'), admin_path, "uk-tooltip":"title: Dashboard; delay: 500" %>
<% end %>
