<%= form_for [:admin, @category], local: true, html: { class: 'uk-form-stacked' } do |form| %>
  <fieldset class="uk-fieldset" style="margin-bottom: 10px">
    <% if @category.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :name, 'Name:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.text_field :name, class: 'uk-input', placeholder: 'Category Name...' %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :processing_time, 'Processing Time:', { class: 'uk-form-label' } %>
      <div class="uk-form-controls">
        <%= form.text_field :processing_time, class: 'uk-input', placeholder: 'Processing Time...' %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'uk-button uk-button-default' %>
    </div>
  </fieldset>
<% end %>
