<main class="uk-width-expand uk-position-relative">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Product Category:</strong>
    <%= @product.brand.category.name %>
  </p>

  <p>
    <strong>Product Brand:</strong>
    <%= @product.brand.name %>
  </p>

  <p>
    <strong>Product Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Product Unit Price:</strong>
    <%= @product.unit_price %>
  </p>

  <%= link_to 'Edit', edit_admin_product_path(@product) %> |
  <%= link_to 'Back', admin_products_path %>

</main>