<!DOCTYPE html>
<html>
  <head>
    <title>Fotomwa</title>

<!--    CSS-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://cdn.jsdelivr.net/npm/uikit@3/dist/css/uikit.min.css' %>
<!--    JS-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://cdn.jsdelivr.net/npm/smoothscroll-for-websites@1/SmoothScroll.min.js' %>
    <%= javascript_include_tag 'application', 'https://cdn.jsdelivr.net/npm/uikit@3/dist/js/uikit.min.js' %>

    <%= favicon_link_tag asset_path('frontend/camera.png') %>
  </head>

  <body>
  <div style="display: none">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

    <div uk-sticky>
      <nav class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
          <div uk-navbar>

            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="#section_un">Welcome</a></li>
              <li><a href="#section_deux">Services</a></li>
              <li><a href="#section_trois">Contacts</a></li>
              <li><a href="#section_deux"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default">Sign In/Up</button></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <%= yield %>

  </div>
  </body>
</html>
