<!--Main Page-->
<div class="landing page">
  <div id="section_un" class="background one parallax">
    <div class="signpost">
    <span class="foto border">
      FOTOMWA
    </span>
    </div>
  </div>
  <div class="text">
    <h1>Welcome</h1>
    <p>Enjoy a Family friendly taking on making memories.</p>
  </div>
  <div id="section_deux" class="background two parallax"></div>
  <div class="text">
    <h1>Services and Products</h1>
    <p>From Photos to Camera Accessories, Find it all with Us.</p>
    <p>Let us take your Studio Photos and Passports.</p>
  </div>
  <div id="section_trois" class="background four parallax"></div>
  <div class="text">
    <h1>Contact Us</h1>
    <p>Reach us any day of the week.</p>
  </div>

  <!--Login-->
  <div class="login_popup">
    <div id="login" class="modal fade" role="dialog">
      <p id="alert"><%= alert %></p>
      <div class="modal-dialog">
        <%= form_tag users_sessions_path, :class => 'container' do %>
          <h1>Login</h1>
          <img src="https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2018/04/2018-pulitzer-prize-photography-winners-announced.jpg">
          <fieldset>
            <div class="field">
              <%= label_tag :email %>
              <%= email_field_tag :email %>
            </div>
            <div class="field">
              <%= label_tag :password %>
              <%= password_field_tag :password %>
            </div>
          </fieldset>
          <%= submit_tag "Login" %>
          <a href="#">Forgot your password?</a>
          <a href=<%= new_users_user_path %>>Not a User?</a>
          <a href="/users/auth/google_oauth2">Sign In With Google</a>
          <a href="/users/auth/facebook">Sign In With Facebook</a>
        <% end %>
      </div>
    </div>

  </div>
</div>
